@model uPark.Models.Estacionamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Estacionamento</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroVagas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroVagas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorarioFuncio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorarioFuncio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VagasDisponiveis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VagasDisponiveis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EstacionamentoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
