@model uPark.Models.Estacionamento

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Estacionamento</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.EstacionamentoId)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Endereço, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Endereço)
                @Html.ValidationMessageFor(model => model.Endereço)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroVagas, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroVagas)
                @Html.ValidationMessageFor(model => model.NumeroVagas)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CNPJ, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CNPJ)
                @Html.ValidationMessageFor(model => model.CNPJ)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Preço, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Preço)
                @Html.ValidationMessageFor(model => model.Preço)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HorarioFuncio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HorarioFuncio)
                @Html.ValidationMessageFor(model => model.HorarioFuncio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VagasDisponiveis, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VagasDisponiveis)
                @Html.ValidationMessageFor(model => model.VagasDisponiveis)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
