@model IEnumerable<uPark.Models.Estacionamento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereço)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroVagas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNPJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preço)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorarioFuncio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VagasDisponiveis)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereço)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroVagas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNPJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preço)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorarioFuncio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VagasDisponiveis)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EstacionamentoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EstacionamentoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EstacionamentoId })
        </td>
    </tr>
}

</table>
